<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkSecCx0xNNB0MhzK7C5HuCpZ0QHb4SXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>450923851820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzinApp</string>
	<key>PROJECT_ID</key>
	<string>quizzin-71daf</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzin-71daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450923851820:ios:87d696df54c10a0b566189</string>
</dict>
</plist>